<h1>add Book</h1>

{{ form_start(form) }}
    {{ form_row(form.ref) }}
    {{ form_row(form.title) }}
    {{ form_row(form.publicationDate) }}
    {{ form_row(form.category) }}
    {{ form_row(form.user) }}
    <button type="submit">Save</button>
{{ form_end(form) }}
